# Data Science Tools and Ecosystem

This notebook contains information about the different tools and technologies that are used in data science

**Objectives:** List popular Library for Data Science
* TensorFlow
* NumPy
* Pandas

#### Popular languages that Data Scientists use are:

* Python
* R 
* Julia
* SQL

#### Commonly used libraries used by Data Scientists include:

* TensorFlow
* NumPy
* SciPy
* Pandas
* Matplotlib

| Data Science Tools | TensorFlow | Spark | PyTorch |
|---|---|---|---|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vivek ranjan